---
import BaseLayout from './BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const { content } = Astro.props;
const { title, description, publishDate, author, heroImage, permalink, alt } = content;
---

<BaseLayout>	 
	<section class="min-w-[320px] w-full md:w-2/3 lg:w-1/2 px-6 md:px-12">
		<BlogPost {title} {author} {heroImage} {publishDate} {alt}>
			<slot />
		</BlogPost>
	</section>
</BaseLayout>